* {
  margin: 0;
  padding: 0; 
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* font-family: 'Roboto', sans-serif; */

html {
  --pink: hsl(327, 100%, 50%);
  --orange: hsl(23, 100%, 58%);
  --yellow: hsl(47, 100%, 56%);
  --black-1: hsl(240, 5%, 4%);
  --black-2: hsl(240, 5%, 7%);
  --black-3: hsl(240, 6%, 13%);
  --grey-1: hsl(240, 6%, 58%);
  --grey-2: hsl(240, 7%, 78%);
  --grey-3: hsl(240, 9%, 89%);
  --grey-4: hsl(240, 6%, 17%);

  font-size: 62.5%; /* 1rem = 10px */
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
font-family: 'Roboto', sans-serif;
color: var(--grey-3);
align-items: center;
justify-content: center;
text-align: center;
}

main {
  background: url(./assets/background.png);
  width: 37.5rem;
  height: 81.2rem;
}

.content {
  padding-top: 18.2rem;
  padding-bottom: 16.8rem;
  padding-inline: 5.6rem;
}

.content .avatar {
  padding-top: .3rem;
}

.content .avatar img {
  width: 16rem;
  height: 18.4rem;
  margin-bottom: 2.4rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.content .name {
  margin-bottom: 3.2rem;
}

.content .name h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: .4rem;
}

.content .name a {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--grey-2);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.content p {
  font-size: 1.4rem;
  margin-bottom: 6.4rem;
}

.content .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .8rem;
  list-style: none;
}
